extends ../layout/common

block content
    h1
        span Users 
        a.btn.btn-primary(href="/users/create") New Users  
    .d-flex.align-items-center  
        form(action="/users/search", method="GET").d-flex.ml-auto
            input.form-control(type="text", name="q")
            button.btn.btn-primary Search
    table.table 
        tr  
            th Name
            th Phone
            th
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/"+ user.id) View
        
        